// Extend: 연관있는 요소들끼리 스타일 코드가 중복된 경우에 사용
// 이미 스타일이 작성된 선택자의 클래스를 extend 하거나,
// %를 사용해서 따로 스타일을 정의한 후 extend하여 원하는 선택자에게 스타일을 적용해 줄 수 있음

// Mixin과의 차이
// Mixin: 관계 없는 선택자에서 조금 다른 스타일을 적용할 때 사용
// Extend: 관계있는 선택자들의 동일한 소스코드 적용 시 사용

.profile-user {
  background-image: url("./programmer.png");
  background-size: cover;
	background-position : 50% 50%;
  border-radius: 50%;
	width : 50px;
	height : 50px;
}

.comment-user {
  @extend .profile-user; //profile-user에서 선언한 css를 모두 이 공간에 가져오겠다
}

%base-button {
    width: 133px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 10px;
  }
  
  .follow-button {
    @extend %base-button;
    background-color: #ffffff;
    color: #ff375f;
    border: 3px solid #ff375f;
  }
  
  .message-button {
    @extend %base-button;
    background-color: #ff375f;
    color: white;
  }